/*Author: USHOU, https://codepen.io/USHOU*/
#slider {
  width: 100vw;
  height: 100vh;
  position: relative;
  margin: auto;
}

.photo {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}

.photo img {
  width: 100%;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
  .photo img {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 320px) {
  .photo img {
    width: unset;
    height: 100%;
  }
}
